<div class="container d-flex flex-column align-items-center mt-5">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="smartContractsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Smart Contracts
        </button>
        <div class="dropdown-menu" aria-labelledby="smartContractsDropdown">
          <a class="dropdown-item" data-toggle="tab" data-target="#numberGetSet">Number Get Set</a>
          <a class="dropdown-item" data-toggle="tab" data-target="#another">Another contract</a>
        </div>
    </div>

    <div class="tab-content mt-5">
        <div class="tab-pane active" id="numberGetSet">
          <app-number-get-set></app-number-get-set>
        </div>
      </div>
</div>